@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #09090b;
  color: #f4f4f5;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e8834a;
}